.mySwiper {
  width: 100%;
  padding-bottom: 40px;
}

.mySwiper .swiper-slide {
  width: 280px;          /* تثبيت عرض السلايد */
  height: auto;
}

.mySwiper .swiper-wrapper {
  align-items: stretch;
}
